%ft {
    font-style  : normal;
    font-variant: normal;
    font-family : $base-font;
}

%ft-regular {
    @extend %ft;
    font-weight: normal;
}

.ft-regular {
    @extend %ft-regular;
}

%ft-bold {
    @extend %ft;
    font-weight: 600;
}

.ft-bold {
    @extend %ft-bold;
}

%ft-heading {
    font-style  : normal;
    font-variant: normal;
    font-family : $heading-font;
    font-weight : normal;
}

.ft-heading {
    @extend %ft-heading;
}
