@use 'sass:math';

$utilities: ("padding": ("prefix": "p",
    "values": ("0": 0,
      "base": $base-padding,
      "sm": $padding-sm,
      "m": $padding-m,
      "lg": $padding-lg,
      "xl": $padding-xl,
      "xxl": $padding-xxl),
  ),
  "padding-left": ("prefix": "pl",
    "values": ("0": 0,
      "base": $base-padding,
      "sm": $padding-sm,
      "m": $padding-m,
      "lg": $padding-lg,
      "xl": $padding-xl,
      "xxl": $padding-xxl),
  ),
  "padding-right": ("prefix": "pr",
    "values": ("0": 0,
      "base": $base-padding,
      "sm": $padding-sm,
      "m": $padding-m,
      "lg": $padding-lg,
      "xl": $padding-xl,
      "xxl": $padding-xxl),
  ),
  "padding-top": ("prefix": "pt",
    "values": ("0": 0,
      "base": $base-padding,
      "sm": $padding-sm,
      "m": $padding-m,
      "lg": $padding-lg,
      "xl": $padding-xl,
      "xxl": $padding-xxl),
  ),
  "padding-bottom": ("prefix": "pb",
    "values": ("0": 0,
      "base": $base-padding,
      "sm": $padding-sm,
      "m": $padding-m,
      "lg": $padding-lg,
      "xl": $padding-xl,
      "xxl": $padding-xxl),
  ),
  "margin": ("prefix": "m",
    "values": ("0": 0,
      "base": $base-margin,
      "sm": $margin-sm,
      "m": $margin-m,
      "lg": $margin-lg,
      "xl": $margin-xl,
      "xxl": $margin-xxl),
  ),
  "margin-left": ("prefix": "ml",
    "values": ("0": 0,
      "base": $base-margin,
      "sm": $margin-sm,
      "m": $margin-m,
      "lg": $margin-lg,
      "xl": $margin-xl,
      "xxl": $margin-xxl),
  ),
  "margin-right": ("prefix": "mr",
    "values": ("0": 0,
      "base": $base-margin,
      "sm": $margin-sm,
      "m": $margin-m,
      "lg": $margin-lg,
      "xl": $margin-xl,
      "xxl": $margin-xxl),
  ),
  "margin-top": ("prefix": "mt",
    "values": ("0": 0,
      "base": $base-margin,
      "sm": $margin-sm,
      "m": $margin-m,
      "lg": $margin-lg,
      "xl": $margin-xl,
      "xxl": $margin-xxl),
  ),
  "margin-bottom": ("prefix": "mb",
    "values": ("0": 0,
      "base": $base-margin,
      "sm": $margin-sm,
      "m": $margin-m,
      "lg": $margin-lg,
      "xl": $margin-xl,
      "xxl": $margin-xxl),
  ),
  "border-radius": ("prefix": "br",
    "values": ("base": $base-border-radius,
      "none": 0,
      "sm":$border-radius-sm,
      "m":$border-radius-m,
      "lg":$border-radius-lg,
      "xl":$border-radius-xl,
      "rounded": 50%,
    )),
  "line-height": ("prefix": "lh",
    "values": ("sm": 17px,
      "m": 20px,
      "lg": 21px,
      "xl": 22px)),
  "display": ("prefix": "display",
    "values": ("n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block)),
  "font-size": ("prefix": "font",
    "values": ("sm": $font-size-sm,
      "m": $font-size-m,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl)));

// generate utility classes
@each $property,
$map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k,
  $v in $values {
    @if($k=="default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    }

    @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}